body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

.top-bar {
    background: #666;
    color: white;
    font-size: 20px;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    max-height: 40px;
}

.top-bar p{
    padding-top: 15px;
}

.top-bar a {
    color: white;
    text-decoration: none;
    margin: 0 0px;
}

.main-header {
    font-size: 13px;
    background: white;
    /* nội dung nằm trong header */
    display: flex; 
    /* căn phần tử trục dọc vào giữa */
    align-items: center;
    padding: 10px 20px;
    /* ẩn nội dung bị tràn */
    overflow: hidden;
    max-height: 150px;
}

.logo {
    height: 100px;
    width: 100px;
}

.search-bar {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.search-bar select, .search-bar input, .search-bar button {
    border: none;
    padding: 10px;
}

.search-bar select{
    width: 100px;
}
.search-bar button {
    background: red;
    color: white;
    cursor: pointer;
}

.contact {
    text-align: center;
    color: red;
    padding-left: 30px;
}

.cart {
    color: red;
    cursor: pointer;
    padding-left: 40px;
}

nav {
    background: #eee;
    padding: 0; /* Xóa padding để tránh làm tăng chiều cao */
    height: 30px; /* Đặt chiều cao cố định */
    font-size: 17px;
    display: flex;
    align-items: center; /* Canh giữa nội dung theo chiều dọc */
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Canh giữa nội dung theo chiều dọc */
    height: 100%;
    text-align: center;
}

nav ul li {
    margin: 0 15px;
    height: 100%;
    display: flex;
    align-items: center; /* Đảm bảo các thẻ <li> cũng căn giữa */
}

nav ul li a {
    text-decoration: none;
    color: rgb(61, 58, 58);
    font-weight: bold;
    display: flex;
    align-items: center; /* Căn giữa chữ theo chiều dọc */
    height: 100%; /* Giúp <a> giãn theo <li> */
    /* padding-bottom: 15px; */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white; /* Màu nền để không bị trong suốt */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    z-index: 1000; /* Đảm bảo header luôn trên cùng */
}

#header-container {
    display: block;
    width: 100%;
    min-height: 80px; /* Tùy chỉnh theo chiều cao header */
    margin-bottom: 70px;
}



