body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

.top-bar {
    background: #666;
    color: white;
    font-size: 20px;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    max-height: 40px;
}

.top-bar p{
    padding-top: 15px;
}

.top-bar a {
    color: white;
    text-decoration: none;
    margin: 0 0px;
}

.main-header {
    font-size: 13px;
    background: white;
    display: flex; 
    align-items: center;
    padding: 10px 20px;
    overflow: hidden;
    max-height: 150px;
}

.logo {
    height: 100px;
    width: 100px;
}

.search-bar {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.search-bar select, .search-bar input, .search-bar button {
    border: none;
    padding: 10px;
}

.search-bar select{
    width: 100px;
}
.search-bar button {
    background: red;
    color: white;
    cursor: pointer;
}

.contact {
    text-align: center;
    color: red;
    padding-left: 30px;
}

.cart {
    color: red;
    cursor: pointer;
    padding-left: 40px;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}
.submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.submenu li {
    padding: 10px;
    width: 100%;
}
.submenu li:hover {
    background-color: #f1f1f1;
}
nav ul li:hover > .submenu {
    display: block;
}
.submenu .submenu {
    left: 100%;
    top: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);   
    z-index: 1000;
}

#header-container {
    display: block;
    width: 100%;
    min-height: 80px;
    margin-bottom: 70px;
}



