<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>checkout page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/css/auth/login.css">
        <link rel="shortcut icon" href="#">
    </head>
    <body>
        <div id="header-container"></div>
        <div class="container">
            <a href="../landingpage/landingpage.html" class=" text-dark text-decoration-none">Trang chủ</a>
            <p class="text-dark text-decoration-none" style="display: inline;"> / Đăng nhập</p>
            <hr>
        </div>
        <div class="container">
            <div class="form-container">
                <h1 class="login-title">Đăng nhập tài khoản</h1>
                <p class="register-text">
                    Nếu chưa có có tài khoản, xin vui lòng <a href="#">đăng ký</a>
                </p>
    
                <a href="http://localhost:8080/oauth2/authorization/google" class="btn btn-google">
                    <img src="../../static/img/google-icon.png" alt="Google icon">
                    Đăng nhập bằng Google
                </a>
    
                <div class="divider">
                    <span class="divider-text">hoặc</span>
                </div>
    
                <form id="loginForm" novalidate>
                    <div class="mb-3">
                        <label for="username" class="form-label">
                            Tên đăng nhập<span class="required">*</span>
                        </label>
                        <input type="text" class="form-control" id="username" required>
                        <div class="invalid-feedback">
                            Vui lòng nhập tên đăng nhập
                        </div>
                    </div>
    
                    <div class="mb-4">
                        <label for="password" class="form-label">
                            Mật khẩu<span class="required">*</span>
                        </label>
                        <input type="password" class="form-control" id="password" required>
                        <div class="invalid-feedback">
                            Vui lòng nhập mật khẩu
                        </div>
                    </div>
    
                    <div class="d-flex align-items-center">
                        <button type="submit" class="btn btn-primary btn-login">Đăng nhập</button>
                        <a href="#" class="forgot-password">Quên mật khẩu</a>
                    </div>
                </form>
            </div>
        </div>
        <div id="footer-container"></div>
        <script src="../../static/js/component.js"></script>
        <script src="../../static/js/auth/login.js"></script>
    </body>

</html>