<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Văn phòng phẩm </title>
    <link rel="stylesheet" href="../../static/css/homepage.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <p>Chào mừng bạn đến Website | Email: example@gmail.com</p>
            <div class="user-options">
                <a href="#">Đăng ký</a> | 
                <a href="#">Đăng nhập</a> | 
                <a href="#">Liên hệ</a>
            </div>
        </div>
        <div class="main-header">
            <img src="../../static/img/logo.png" alt="VP Logo" class="logo">
            <div class="search-bar">
                <select>
                    <option value="all">Tất cả</option>
                </select>
                <input type="text" placeholder="Tìm kiếm sản phẩm...">
                <button>🔍</button>
            </div>
            <div class="contact">
                <p>📞 Gọi đặt hàng</p>
                <strong>06677028</strong>
            </div>
            <div class="cart">
                🛒 Giỏ hàng (0 sản phẩm)
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#">Văn phòng phẩm</a></li>
                <li><a href="#">Đồ dùng học sinh</a></li>
                <li><a href="#">Họa cụ</a></li>
                <li><a href="#">Túi vải</a></li>
                <li><a href="#">Khuyến mãi</a></li>
            </ul>
        </nav>
    </header>
    <img src="../../static/img/image.png" alt="VP Logo" class="banner">

</body>
</html>
